<div class="row p-3">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
    <div class="row">
      <div id="kventLogo" class="col-xs-12 col-sm-12 col-md-4 col-lg-4 " width="250px" height="100px">
        <img  [src]="picHardLink" class="img-fluid d-block mx-auto mx-md-0" alt="Responsive image">

      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <div class="row justify-content-center"><h1>{{getTitle()}}</h1></div>
        <div class="row justify-content-center"><h3>{{subtitle}}</h3></div>
      </div>
      <div class="col-md-6 col-lg-6">
        <div  class="row border float-md-right float-lg-right">
          <div class="d-none d-sm-block d-xs-block col-md-12 col-lg-12">
            <div class="row ">
              <div class="col-md-12 col-lg-12">
                <div class="row">
                  On-going Events
                </div>
                <div class="row">
                  <span>Date: {{dateNow | date: 'medium'}}</span>
                </div>
                <div class="row">
                  <div class="col-md-12 col-lg-12">
                    <div class="row">
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <button  (click)="accessProcedure('login')" *ngIf="!loginState">
                          <span>Login</span></button>
                        <span *ngIf="loginState">{{user.firstName === null ? 'Loading..' : user.firstName}}</span>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <button  (click)="accessProcedure('signup')" *ngIf="!loginState">
                          <span>Sign Up</span></button>

                        <button  (click)="accessProcedure('logout')" *ngIf="loginState">
                          <span>Log Out</span></button>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      
                    </div>
                  </div>
                 <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <app-audio-component *ngIf="audioDetails !== null"
                                          [fileUrl]="audioDetails.audioLink"
                                          [audioTime]="audioDetails.audioTime"
                                         filePlay="{{audioDetails.audioPermit}}"
                                          onStopTracks = "{{audioDetails.audioStop}}"
                                          (response)="checkResponse($event)"></app-audio-component>
                   </div>
                 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>




<!--  <div id="title" class="d-none d-sm-block d-xs-block col-md-4 col-lg-4">-->
<!--    <h2>Kvent</h2>-->
<!--  </div>-->
<!--  <div id="links" class="d-none d-sm-block d-xs-block col-md-4 col-lg-4">-->
<!--    <p>Links</p>-->
<!--  </div>-->
<!--  <div id="description" class="d-none d-sm-block d-xs-block col-md-4 col-lg-4">-->
<!--    <p>Description</p>-->
<!--  </div>-->

