<html>
<head>
  <title></title>
<!--  <script data-ad-client="ca-pub-8977896761366076"-->
<!--          async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
<!--  <script async custom-element="amp-auto-ads"-->
<!--          src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">-->
<!--  </script>-->
</head>
  <body>
    <div class="container-fluid">
      <div id="header" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <app-header></app-header>
      </div>
      <div id="navigation" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <app-navigation></app-navigation>
      </div>
      <div id="content" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row justify-content-center">
          <router-outlet></router-outlet>
        </div>

      </div>
      <div id="expansion" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
       <app-expansion></app-expansion>
      </div>
      <div id="footer" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <app-footer></app-footer>
      </div>
    </div>
  </body>
</html>

