#mixDetails{
  //position: relative;
  //top:13%;
  //bottom:26%;
  //text-align: left;
}

#mixDetails{
  position: absolute;
  bottom:1%;
  text-align: left;
  width:100%;
  z-index: 1;
}
#btnIcons{
  color: white;

}
