<div>
  <div>
    <form>
      <div>
        <label>Mix Name</label>
        <input/>
      </div>
      <div>
        <label>Mix Title</label>
        <input/>
      </div>
      <div>
        <label>Company</label>
        <select>
            <option></option>
        </select>
      </div>

    </form>
  </div>
<hr>
  <div>
    <h3>Upload Mix</h3>
    <input type="file" />
  </div>
</div>
<!--+-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;+&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;+&#45;&#45;&#45;&#45;&#45;&#45;+-&#45;&#45;&#45;&#45;+-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;+&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;+-->
<!--| mix_id          | bigint(20)   | NO   | PRI | NULL    | auto_increment |-->
<!--| mix_dj_name     | varchar(255) | YES  |     | NULL    |                |-->
<!--| mix_link        | varchar(255) | YES  |     | NULL    |                |-->
<!--| mix_status      | varchar(255) | YES  |     | NULL    |                |-->
<!--| mix_title       | varchar(255) | YES  |     | NULL    |                |-->
<!--| mix_cover_id    | bigint(20)   | YES  | MUL | NULL    |                |-->
<!--| mix_companyID   | int(11)      | YES  | MUL | NULL    |                |-->
<!--| mix_mia_type    | int(15)      | YES  | MUL | NULL    |                |-->
<!--| mix_upload_date |-->
