<div class="col-xl-12 col-sm-12 col-md-12 col-lg-12">
  <div class="row">
    <!-- Responsive ads -->
<!--    <ins class="adsbygoogle"-->
<!--         style="display:block"-->
<!--         data-ad-client="ca-pub-8977896761366076"-->
<!--         data-ad-slot="1994245662"-->
<!--         data-adtest="on"-->
<!--         data-ad-format="auto"-->
<!--         data-full-width-responsive="true"></ins>-->
<!--    <script>-->
<!--      (adsbygoogle = window.adsbygoogle || []).push({});-->
<!--    </script>-->
    <ng-adsense [adClient]="'ca-pub-8977896761366076'" slot="1994245662" adFormat="auto"
                [fullWidthResponsive]="true"></ng-adsense>
  </div>
</div>

