<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-content-center" >
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-inline-block" *ngFor="let mix of qMixes">
    <div  class="m-0" >

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="mixContent">
        <div id="mixImage">
          {{mix.mixLink}}
        </div>

        <div id="mixTitle">
          {{mix.mixTitle}}
        </div>

        <div id="mixDescr">
          {{mix.mixCompany}}
        </div>
      </div>

      educations
    </div>
  </div>
</div>
<!--<div>-->
<!--  <svg id="svgLnTop" height="1" width="1500">-->
<!--    <line id="top" x1="0" y1="0" x2="1500" y2="0" />-->
<!--    svg-->
<!--  </svg>-->
<!--</div>-->
