#mixContent{

  border: 2px solid white;
  box-shadow:  inset 1px 1px 5px #afa8a6 ,
  inset 2px 2px 5px #afa8a6 ,
  inset 3px 2px 5px #afa8a6 ,
  inset 3px 3px 5px #afa8a6 ,
  4px 4px 2px #afa8a6 ;
  border-radius: 5px;
  //margin-bottom: 1.2em;

}
#rowId{
  margin: 0 auto;

}
#mixId{
  display: inline-block;
}
